<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.martindeguise.apprendsavecmoi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_appli"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_appli"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Acceuil"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Addition"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Addtion_trou"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AffichageScore"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Collection"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Compte"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CompteObjet"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Dictee_de_mot"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DicteeDeMots"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Ecris"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FaisDesCalculs"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Resultat"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Resultat_DicteeMots"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TraceLettre"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tracelalettre_difficile"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tracelalette_facile"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name=".PopActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">

        </activity>
    </application>

</manifest>